.reviewList {
  text-align: center;
  width: 90%;
  margin: auto;
}

.review-summary {
  margin: 20px 0 20px 0;
}

.review-body {
  margin: 20px 0 20px 0;
}

.review-image {
  margin: 20px 0 20px 0;
}

.review-Reviewer-name {
  margin: 20px 0 20px 0;
}

.helpful:hover {
  color: green;
  cursor: pointer;
}

.review-report:hover {
  color: red;
  cursor: pointer;
}

.ratingSummary {
  display: inline-block;
  width: 20%;
  float: left;
  overflow: hidden;
  text-align: left;
  border-width: 5px;
  border-radius: 10px;
  border-color: #21aeca;
  background-color: #21aeca;
  box-shadow: 2px 2px 5px;
  margin: 10px;
  padding: 10px;
}

.breakdown-filter {
  background-color: aqua;
  margin: 2px;
  display: inline-block;
}

.breakdown-filter:hover {
  cursor: pointer;
}

.bar {
  background-color: white;
  width: 100px;
  height: 10px;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}

.star5:hover {
  color: gold;
  cursor: pointer;
}

.star4:hover {
  color: gold;
  cursor: pointer;
}

.star3:hover {
  color: gold;
  cursor: pointer;
}

.star2:hover {
  color: gold;
  cursor: pointer;
}

.star1:hover {
  color: gold;
  cursor: pointer;
}

.clearAll {
  display: inline-block;
}

.clearAll:hover {
  cursor: pointer;
}

.ReviewList {
  display: inline-block;
  width: 75%;
  text-align: center;
  padding: 0%;
  max-height: 600px;
  overflow: scroll;
}

.ReviewList::-webkit-scrollbar {
  display: none;
}

.morereviews {
  text-align: center;
  height: 70px;
  width: 400px;
  border-width: 5px;
  border-radius: 10px;
  border-color: #21aeca;
  background-color: white;
  box-shadow: 2px 2px 5px;
  margin: 20px;
}

.morereviews:hover {
  background-color: #21aeca;
}

.writeReview {
  text-align: center;
  width: 75%;
  float: right;
}

.rateBox {
  position: relative;
  float: top;
  width: 180px;
  text-align: left;
}

.writeReviewButton {
  height: 70px;
  width: 400px;
  border-width: 5px;
  border-radius: 10px;
  border-color: #21aeca;
  background-color: white;
  box-shadow: 2px 2px 5px;
}

.writeReviewButton:hover {
  background-color: #21aeca;
}

.write-review {
  font-family: Montserrat, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;
  box-sizing: border-box;
}

.write-review-close {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.writeReviewBox {
  height: 80%;
  width: 80%;
  z-index: 2;
  background-color: #21aeca;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  border-width: 20px;
  border-color: #21aeca;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
}

.writeReviewBox::-webkit-scrollbar {
  display: none;
}

.write-review-submit {
  position: relative;
  text-align: center;
  height: 70px;
  width: 400px;
  border-width: 5px;
  border-radius: 10px;
  border-color: #21aeca;
  background-color: white;
  box-shadow: 10px 10px 18px;
  margin: 20px;
}

.write-review-submit:hover {
  background-color: #21aeca;
}

.sort {
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
}

.summary {
  font-size: 25px;
  font-weight: bolder;
}

.IndividualReviews {
  text-align: left;
  border-top: 20px solid rgb(220, 245, 253);
  border-bottom: 1px solid black;
}

.individual-review-box {
  overflow: scroll;
}

.individual-review-box::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

.rate {
  float: top left;
  height: 46px;
  padding: 0 30px 0 0;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.Characteristics-names {
  font-weight: bolder;
  font-size: 15px;
  width: 65px;
  display: block;
  margin: 5px;
}

.Characteristics-box {
  width: 165px;
  display: inline-block;
}
