.related-items {
  padding: 5px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}
.list {
  margin: 10px 0px 0px;
  position: relative;
  width: 100%;
}
.modal {
  background-color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding-top: 50px;
  color: black;
  z-index: 150;
}

.modal > .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal > .modal-body {
  background-color: white;
  min-width: 350px;
  width: 75%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  overflow: auto;
}

@keyframes fade-in {
  0% {
    animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-container {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  height: 415px;
  margin: 0px;
  padding: 10px;
  scroll-behavior: smooth;
}

.card {
  height: 100%;
  width: 275px;
  position: relative;
  flex-shrink: 0;
  margin: 0px 10px;
  background: rgba(163, 168, 170, 0.199);
  border-radius: 10px;
}
.card :hover {
  box-shadow: none !important;
}

.list > .card-container :hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 0px;
  cursor: pointer;
}
.card-image {
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: auto;
}

.card-info {
  margin: 5px 15px;
}

.card-button {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0px;
  margin-top: 5px;
  z-index: 10;
}
